<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.ScoreMapper">
    <resultMap id="BaseResultMap" type="org.javaboy.vhr.model.Score">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="epNum" property="epNum" jdbcType="INTEGER"/>
        <result column="day" property="day" jdbcType="DATE"/>
        <result column="lessonName" property="lessonName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="VARCHAR"/>
        <result column="leOrder" property="leOrder" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,epNum,day,lessonName,name,score,leOrder
    </sql>
    <insert id="addScore">
        insert into score (epNum,day,lessonName,name,score,leOrder)
        values
        <foreach collection="list" separator="," item="s">
            (#{s.epNum, jdbcType=INTEGER},#{s.day, jdbcType=DATE},#{s.lessonName, jdbcType=VARCHAR},
            #{s.name, jdbcType=VARCHAR},#{s.score, jdbcType=VARCHAR},
            #{s.leOrder, jdbcType=INTEGER})
        </foreach>

    </insert>
    <update id="updateScore" parameterType="org.javaboy.vhr.model.Score">
        update score
        set
        <if test="epNum != null">epNum = #{epNum, jdbcType=INTEGER},</if>
        <if test="day != null">day = #{day, jdbcType=DATE},</if>
        <if test="lessonName != null">lessonName = #{lessonName, jdbcType=VARCHAR},</if>
        <if test="name != null">name = #{name, jdbcType=VARCHAR},</if>
        <if test="score != null">score = #{score, jdbcType=VARCHAR},</if>
        <if test="leOrder != null">leOrder = #{leOrder, jdbcType=INTEGER}</if>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteScore" parameterType="java.lang.Integer">
        delete from score
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getScoreByEpNum" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from score
        where epNum = #{epNum,jdbcType=INTEGER}
    </select>
    <select id="getMinEpNum" resultType="java.lang.Integer">
        select epNum from score group by epNum order by epNum asc limit 1
    </select>
    <select id="getAllEpNums" resultType="java.lang.Integer">
        select epNum from score group by epNum order by epNum asc
    </select>
    <select id="getLessonNames" resultType="java.lang.String">
        select lessonName from score group by lessonName
    </select>
</mapper>
